@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
   /* ... (added animation styles) ... */


 }

/* New code animation styles */

/* ends */

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: var(--font-size-mega-full);/**/
  font-weight: 900;
  margin-bottom: 23px;
  font-family: var(--font-redressed);
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  ); */

  background: linear-gradient(
    90deg,
    var(--color-text) 50%,
    var(--color-shade-text-dark) 100%
  );

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}




.description {
  font-size: var(--font-size-mini-full); /**/
  font-family: var(--font-redressed);
  margin-bottom: 52px;

  /* new styles */
 
}



.contactBtn {
  text-decoration: none;
  background-color: var(--color-shade-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-rancho);
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(95, 65, 39, 0.25);
  /* new styles */
  cursor: pointer;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
    transform:scale(0.97);

  }
}

.heroImg {
  width: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: var(--color-shade-dark-variant);

  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  /* background: rgba(241, 193, 115, 0.619); */
  background: var(--color-shade-dark-variant);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
  }


  .content {
    align-items: center;
  }

  .title{
    margin-top: 23px;
    font-size: var(--font-size-mega-mview);/**/

  }

  .description {
    font-size: var(--font-size-mini-mview); /**/
  }

  .heroImg{
    width: 270px;
    /* width: 40%; */

  }
}


@media screen and (max-width: 350px) {
  .heroImg{
    width: 95%;
  }
  .title{
    font-size: var(--font-size-max-mview);/**/

  }
  .description {
    font-size: var(--font-size-small-full); /**/
  }
}