@import "../../vars.css";


body {
  margin: 0;
  background: var(--blk);
}
.header {
  font-size: var(--font-size-mini-full);
  /* color: white; */
  color: var(--color-bg);

  font-family: var(--font-roboto);
  flex-basis: 100%;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  padding-bottom: 10px;
}



.footer {
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2em;
  gap: 10px;
  display: flex;
  bottom: 0;
  
  position: relative;
  width: 100%;
  margin-top: 79px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--blk);
}

/* div */
.right {
  margin: 0;
  display: flex;
  width: 50%;
  flex-direction: row;
  gap: 10px;
  flex: 1;
}

/* div */
.left {
  flex-basis: 100%;
  margin: 0;
  display: flex;
  gap: 10px;
  width: 50%;
  flex-direction: column;
  flex: 1;
}

input, textarea {
  font-family: var(--font-redressed);
  box-sizing: border-box;
  color: var(--color-text-dark);
  outline: none;
  resize: none;
  border: none;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--lightblk);
}
form{
  display:contents;
}
.msg {
  flex-basis: 100%;

}

/* div */
.bottom {
  min-width: 0;
  overflow-x: scroll;
  padding: 0.2em;
  gap: 1.5em;
  color: grey;
  width: 100%;
  flex-basis: 100%;
  display: flex;
  font-size: var(--font-size-mini-full);
}

.ftrtxt {
  flex-basis: 100%;
  font-size: 15px;
  text-align: center;
  font-family: var(--font-redressed);
  color: grey;
 
}

.ftrhead {
  font-size: 35px;
}

.ftrhead::after,
.ftrtxt::after {
  content: "\a";
  white-space: pre;
}

.ftrlinks {
  flex-basis: 1;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  flex-basis: 100%;
  color: white;
}

svg {
  /* fill: white; */
  fill: var(--color-bg);

  /* width: 20px;
  height: 20px; */
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

svg:hover {
  transform: scale(1.1);
  fill: whitesmoke;
}

::placeholder {
  font-family: var(--font-redressed);
}

#start {
  margin-left: auto;
}

#end {
  margin-right: auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  height: 5px;
  width: 2px;
}

#submitbtn {
  display: none;
  border-radius: 10px;
  border: none;
  font-family: var(--font-redressed);
  font-size: 15px;
  transition: 0.5s;
}

#submitbtn:hover {
  background-color: var(--lightblk);
  color: white;
}

@keyframes slide {
  0% {
    opacity: 0;
    height: 0%;
    border-radius: 10px;
  }
  100% {
    opacity: 1;
    height: 100%;
    border-radius: 10px;
  }
}






@media screen and (max-width: 1000px) {
  .header, .bottom{
    font-size: var(--font-size-mini-mview);
  }
  
}

