@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 61px;
  z-index: 2;
  margin: 7px 1% 7%;
  border-radius: 0 50px 0 50px;
  border: 3px solid #cad0f8;
  background-color: var(--blk);
  color: aquamarine;
}

.logo{
/* width:120%; */
height:50px;
}
#imgMviewNav {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: var(--font-size-small-full);
  color: var(--color-bg);
  text-decoration: none;
}

.menuBtn {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo{
    width:80%;
    height:90%;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 2%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    padding: 5px;
    fill: goldenrod;
    font-size:3em;
   
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    /* background: rgb(25, 55, 109); */
    /* background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%   // Dark theme
    ); */

    /* Light theme */
    background: linear-gradient(
      0deg,
      
      var(--color-shade-bg) 0%,
      var(--color-shade-dark) 100%
    );


    
    padding: 24px 33px;
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); // dark theme*/ 
    box-shadow: 0 0 4px 0 var(--color-shade-dark);

  }

  .menuItems a {
    font-size: var(--font-size-small-mview);
    color: var(--color-text);

  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}


@media screen and (max-width: 345px) {
  #imgDviewNav{
    display:none;
  }
  #imgMviewNav{
    display: block;
  }
}